// ==================================================
// Class &  helpers
// ==================================================
	//ex: .clear-both{clear: both;}

#header{
	background: $mainColor;
}
.black-border {
	border: 1px solid $blackColor;
}