// ==================================================
// Settings
// ==================================================
	//ex: $fontBody    : 'RenaultLifeRegular', 'cursive', serif, sans-serif;
	//ex: $mainColor   : #212121 !default;

	$mainColor: #1184D1;
	$orangeColor: #EF8451;
	$orange2Color: #EA6419;
	$whiteColor: #ffffff;
	$blueColor: #0777C2;
	$blue1Color: #00A3FF;
	$blue2Color: #237FBD;
	$blue3Color: #1169A5;
	$greenColor: #7BEE86;
	$blackColor: #000000;
	$black2Color: #333333;
	$greyColor: #C4C4C4;
	$grey1Color: #E4E3E3;
	$grey3Color: #F5F4F2